Assignment/3/program/stderr
Assignment/3/program/stdout
Assignment/3/program/*.txt
Assignment/3/program/venv
Assignment/3/program/.idea
Esami/
Esercizi e materiali/
Libri PDF/
Materiale extra/
Slide/
.vscode/
*.aux
*.toc
*.gz
*.log
